body{
background:#0b0e11;
color:white;
font-family:Arial;
text-align:center;
}

h1{
color:#f0b90b;
}

.scanner{
background:#11161d;
padding:30px;
margin:30px;
border-radius:10px;
}

button{
background:#f0b90b;
border:none;
padding:10px;
}
